@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .an-link {
    @apply text-blue-500 hover:text-blue-600 no-underline;
  }

  .an-shadow {
    box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
  }
}

.an-text-rainbow {
  background: linear-gradient(140deg, #d2a8ff 12.09%, #f778ba 42.58%, #ff7b72 84.96%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.an-shadow-soft-xl {
  --an-shadow-color: rgba(0, 0, 0, 0.05);
  --tw-shadow: 0px 0px 10px 0px var(--an-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
    var(--tw-shadow);
}

.an-bg-clip-border {
  background-clip: border-box;
}

.an-block {
  --border-size: 1px;
  --border-angle: 0turn;
  --an-box-transparent: 100%;
  background-image: conic-gradient(from var(--border-angle), #fff, #fff, #fff),
    conic-gradient(
      from var(--border-angle),
      transparent var(--an-box-transparent),
      #d2a8ff,
      #ff7b72
    );
  background-size: calc(100% - (var(--border-size) * 2)) calc(100% - (var(--border-size) * 2)),
    cover;
  background-position: center center;
  background-repeat: no-repeat;

  animation: bg-spin 2s linear infinite;
  @keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }

  &:hover {
    --an-box-transparent: 20%;
  }
}

@property --border-angle {
  syntax: '<angle>';
  inherits: true;
  initial-value: 0turn;
}

.an-hide-wscb {
  &::-webkit-search-cancel-button {
    -webkit-appearance: none;
    display: none;
  }
}

.an-scrollbar {
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
    &:hover {
      background: #bbb;
    }
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &.scrollbar-small {
    &::-webkit-scrollbar {
      width: 7px;
      height: 7px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 7px;
    }
  }
}

// Editor
.an-edt-toolbar-item {
  @apply flex cursor-pointer items-center rounded-lg bg-none p-1.5 opacity-80;
  &.active,
  &:hover:not(:disabled) {
    @apply bg-gray-100 opacity-100;
  }
  &:disabled {
    @apply cursor-not-allowed;
  }
}

.an-prose {
  @apply prose prose-sm xl:prose max-w-full;
  @apply prose-p:mb-0;
  @apply prose-headings:font-semibold;
  @apply prose-h1:mb-4 prose-h1:text-2xl;
  @apply prose-h2:mt-0 prose-h2:mb-4 prose-h2:text-xl;
  @apply prose-h3:mt-0 prose-h3:mb-4 prose-h3:text-lg;
  @apply prose-li:pl-0;
  @apply prose-ul:pl-6 prose-ul:mt-0 prose-ul:mb-0;
  @apply prose-ol:pl-6;
  @apply prose-a:an-link;
}
